<!-- Formulier en Jaar Overzicht -->
<mat-card class="selected-count-card">
  <mat-card-header>
    <div mat-card-avatar class="year-avatar">
      <mat-icon>calendar_today</mat-icon>
    </div>
    <mat-card-title>Jaar: {{ currentYear }}
      <div class="selected-days">
        Totaal dagen: <strong>{{ selectedCount }}</strong>
      </div>
    </mat-card-title>
  </mat-card-header>
</mat-card>

<!-- Shifts Overzicht -->
<div class="shifts-overview">
  <!-- Mobiele Weergave -->
  <mat-accordion *ngIf="isMobile">
    <mat-expansion-panel *ngFor="let month of months">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{ month.shifts[0].month }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div class="shifts-container">
        <div 
          *ngFor="let shift of month.shifts" 
          class="shift-box" 
          [ngClass]="{
            'day-shift': shift.shiftType === 'day',
            'night-shift': shift.shiftType === 'night',
            'selected': isDateSelected(shift.date)
          }" 
          (click)="onDateSelected(shift.date)">
          {{ shift.shiftType === 'day' ? 'D' : 'N' }}<br>
          {{ shift.date | date: 'EEE d' }}
        </div>
      </div>
    </mat-expansion-panel>
  </mat-accordion>
  

  <!-- Desktop Weergave -->
  <table class="work-calendar-table mat-table" *ngIf="!isMobile">
    <thead>
      <tr>
        <th>Maand</th>
        <th *ngFor="let shiftNumber of displayedShiftNumbers">Shift {{ shiftNumber }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let month of months" class="month-row">
        <td class="month-name">{{ month.shifts[0].month }}</td>
        <td *ngFor="let shiftNumber of displayedShiftNumbers">
          <ng-container *ngIf="getShiftByNumber(month.shifts, shiftNumber) as shift">
            <div 
              class="shift-box" 
              [ngClass]="{
                'day-shift': shift.shiftType === 'day',
                'night-shift': shift.shiftType === 'night',
                'selected': isDateSelected(shift.date)
              }" 
              (click)="onDateSelected(shift.date)">
              {{ shift.shiftType === 'day' ? 'D' : 'N' }}<br>
              {{ shift.date | date: 'EEE d' }}
            </div>
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
  
</div>
