<div class="calendar-container">
    <!-- <div class="form-container">
      <form [formGroup]="teamYearForm">
        <mat-form-field appearance="outline" color="accent">
          <mat-label>Select Year</mat-label>
          <input matInput type="number" formControlName="year" min="2024" max="2044">
        </mat-form-field>
      </form>
    </div> -->
    <h2> verlof 2025</h2>
    
    <mat-accordion *ngIf="isMobile">
      <mat-expansion-panel *ngFor="let month of months">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ month.name }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="shifts-container">
          <div *ngFor="let shift of month.shifts" class="shift-box" [ngClass]="{'day-shift': shift.shiftType === 'day', 'night-shift': shift.shiftType === 'night', 'selected': isDateSelected(shift.date)}" (click)="onDateSelected(shift.date)">
            <strong>{{ shift.shiftType === 'day' ? 'D' : 'N' }}</strong><br>
            {{ shift.date | date: 'EEE d' }}
          </div>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  
    <div class="desktop-calendar" *ngIf="!isMobile">
      <div *ngFor="let month of months" class="month-container">
        <div class="month-header">{{ month.name }}</div>
        <div class="shifts-container align-items">
          <div class="shift-titles">
            <div *ngFor="let shift of month.shifts; let index = index" class="shift-title">Shift {{ index + 1 }}</div>
          </div>
          <div class="shifts-boxes">
            <div *ngFor="let shift of month.shifts" class="shift-box" [ngClass]="{'day-shift': shift.shiftType === 'day', 'night-shift': shift.shiftType === 'night', 'selected': isDateSelected(shift.date)}" (click)="onDateSelected(shift.date)">
              <strong>{{ shift.shiftType === 'day' ? 'D' : 'N' }}</strong><br>
              {{ shift.date | date: 'EEE d' }}
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <button mat-raised-button color="primary" (click)="saveSelectedDates()">Opslaan</button>
  </div>
  