.work-calendar-table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
}

.work-calendar-table th, .work-calendar-table td {
  border: 1px solid #ccc;
  text-align: center;
  padding: 8px;
  color: #555d71
}

.month-row td:first-child {
  font-weight: bold;

}

.day-shift {
  color: rgb(63, 81, 181);
}

.night-shift {
  color: #ff5722;
}

.shift-box {

  min-width: 65px;
  cursor: pointer;
}

.shift-box:hover {

  background-color: #d0f0c0; /* Light green for hover */
}

.shift-box.selected {

  background-color: #ffddcc; /* Light orange for selected */
}

.shifts-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.selected-count {
  margin-top: 10px;
  font-weight: bold;
  color: #3f51b5; /* Mat blauwe kleur */
  text-align: center;
}
.mat-snack-bar-container {
  background-color: #3f51b5; /* Blauwe kleur */
  color: white;
  font-weight: bold;
  text-align: center;
}

.mat-snack-bar-container .mat-button-wrapper {
  color: #ffdd00; /* Knopkleur */
}



@media (max-width: 768px) {
  .shift-box {
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
    min-width: 60px;
    cursor: pointer;
  }
  .shift-box:hover {

   
  }
}