.sidenav-container {
  height: 100vh; /* Volledige hoogte van de viewport */
  display: flex;
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%; /* Zorg ervoor dat de hoogte wordt gerespecteerd */
}

.toolbar {
  position: sticky; /* Zorg dat de toolbar vast blijft */
  top: 0;
  z-index: 3; /* Zorg dat de toolbar boven andere inhoud zit */
  width: 100vw; /* Volledige breedte van het scherm */
  box-sizing: border-box; /* Houd rekening met padding in breedteberekening */
}

.scrollable-content {
  flex: 1;
  overflow-y: auto; /* Alleen de inhoud scrollbaar maken */
  padding: 16px;
}

mat-sidenav {
  width: 250px; /* Breedte van de zijbalk */
}

.username {
  margin-right: 16px;
}

.logout-button {
  color: #ffffff !important;
}

@media (max-width: 768px) {
  mat-sidenav {
    width: 200px; /* Kleiner menu op mobiele apparaten */
  }

  .scrollable-content {
    padding: 8px; /* Verminder padding voor kleinere schermen */
  }

  .username {
    display: none; /* Verberg de gebruikersnaam op kleine schermen */
  }
}
