<mat-sidenav-container class="sidenav-container">
  <!-- Sidebar -->
  <mat-sidenav #sidenav mode="side" opened *ngIf="isLoggedIn()">
    <mat-nav-list>
      <a mat-list-item routerLink="/">
        <mat-icon>dashboard</mat-icon>
        <span>Dashboard</span>
      </a>
      <a mat-list-item routerLink="/persons">
        <mat-icon>person</mat-icon>
        <span>Personen</span>
      </a>
      <a mat-list-item routerLink="/">
        <mat-icon>dns</mat-icon>
        <span>Verlof invuldata</span>
      </a>
      <a mat-list-item routerLink="/yearCalender">
        <mat-icon>calendar_today</mat-icon>
        <span>Jaarkalender</span>
      </a>
      <a mat-list-item routerLink="/settings">
        <mat-icon>settings</mat-icon>
        <span>Instellingen</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main content -->
  <mat-sidenav-content>
    <!-- Toolbar -->
    <mat-toolbar color="primary">
      <button *ngIf="isLoggedIn()" mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Dashboard Verlofregeling Brandweer Gent</span>
      <span class="spacer"></span>
      <span *ngIf="isLoggedIn()" class="username">Welkom, {{ username }}</span>
      <button *ngIf="isLoggedIn()" mat-button (click)="islogout()">
        <mat-icon>logout</mat-icon> Uitloggen
      </button>
    </mat-toolbar>

    <!-- Content area -->
    <section class="content">
      <router-outlet></router-outlet>
    </section>
  </mat-sidenav-content>
</mat-sidenav-container>
