<div class="form-container">
  <form [formGroup]="teamYearForm">
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Selecteer Jaar</mat-label>
      <input matInput type="number" formControlName="year" min="2024" max="2044">
    </mat-form-field>
  </form>
</div>

<!-- Mobile view -->
<mat-accordion *ngIf="isMobile">
  <mat-expansion-panel *ngFor="let month of months">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ month.shifts[0].month }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="shifts-container">
      <div *ngFor="let shift of month.shifts" class="shift-box" [ngClass]="{'day-shift': shift.shiftType === 'day', 'night-shift': shift.shiftType === 'night'}">
        Shift: {{ shift.shiftNumber }}<br>
        <strong>{{ shift.shiftType === 'day' ? 'D' : 'N' }}</strong><br>
        {{ shift.date | date: 'EEE d' }}

      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<!-- Desktop view -->
<table class="work-calendar-table" *ngIf="!isMobile">
  <thead>
    <tr>
      <th class="header-cell">Maand</th>
      <th class="header-cell" *ngFor="let shiftNumber of displayedShiftNumbers">Shift {{ shiftNumber }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let month of months">
      <td class="header-cell">{{ month.shifts[0].month }}</td>
      <td class="shift-cell" *ngFor="let shiftNumber of displayedShiftNumbers">
        <ng-container *ngIf="getShiftByNumber(month.shifts, shiftNumber) as shift">
          <div class="shift-box" [ngClass]="{'day-shift': shift.shiftType === 'day', 'night-shift': shift.shiftType === 'night'}">
            <strong>{{ shift?.shiftType === 'day' ? 'D' : 'N' }}</strong><br>
            {{ shift?.date | date: 'EEE d' }}
          </div>
        </ng-container>
      </td>
    </tr>
  </tbody>
</table>
