<div class="form-container">
  <form [formGroup]="teamYearForm">
    <mat-form-field appearance="outline" color="accent">
      <mat-label>Select Year</mat-label>
      <input matInput type="number" formControlName="year" min="2024" max="2044">
    </mat-form-field>
  </form>
</div>

<mat-accordion *ngIf="isMobile">
  <mat-expansion-panel *ngFor="let month of months">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{ month.name }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="shifts-container">
      <div *ngFor="let shift of month.shifts" class="shift-box" [ngClass]="{'day-shift': shift.shiftType === 'day', 'night-shift': shift.shiftType === 'night'}">
        <strong>{{ shift.shiftType === 'day' ? 'D' : 'N' }}</strong><br>
        {{ shift.date | date: 'EEE d' }}
      </div>
    </div>
  </mat-expansion-panel>
</mat-accordion>

<!-- Desktop view -->
<table mat-table [dataSource]="months" class="work-calendar-table mat-elevation-z8" *ngIf="!isMobile">
  <ng-container matColumnDef="month">
    <th mat-header-cell *matHeaderCellDef class="header-cell"> Maand </th>
    <td mat-cell *matCellDef="let month"> {{ month.name }} </td>
  </ng-container>

  <ng-container *ngFor="let index of getMaxShiftIndices(); let i = index">
    <ng-container matColumnDef="shift{{ i }}">
      <th mat-header-cell *matHeaderCellDef class="header-cell"> Shift {{ i + 1 }} </th>
      <td mat-cell *matCellDef="let month">
        <span *ngIf="month.shifts[i]" [ngClass]="{'day-shift': month.shifts[i].shiftType === 'day', 'night-shift': month.shifts[i].shiftType === 'night'}">
          <strong>{{ month.shifts[i]?.shiftType === 'day' ? 'D' : 'N' }}</strong><br>
          {{ month.shifts[i]?.date | date: 'EEE d' }}
        </span>
      </td>
    </ng-container>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
