.work-calendar-table {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
  }

  .work-calendar-table th, .work-calendar-table td {
    border: 1px solid #ccc;
    text-align: center;
    padding: 8px;
    color: #555d71
  }

  .month-row td:first-child {
    font-weight: bold;
    background-color: #f9f9f9;

  }

  .day-shift {
    color: rgb(63, 81, 181);
  }

  .night-shift {
    color: #ff5722;
  }

  .shift-box {
    min-width: 60px
  }

  .shifts-container {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }

  @media (max-width: 768px) {
    .shift-box {
      margin: 5px;
      padding: 10px;
      border-radius: 4px;
      text-align: center;
      border: 1px solid #ccc;
      min-width: 65px;
    }
  }