.person-details-form {
    display: flex;
    justify-content: center; /* Plaatst het formulier horizontaal in het midden */
    padding: 20px; /* Voeg padding aan de zijkanten toe */
    
  }
  
  .form-container {
    max-width: 800px; /* Bepaal een maximale breedte voor het formulier */
    width: 100%; /* Zorg ervoor dat het formulier responsief is */
  }
  
  .button-group {
    display: flex;
    flex-wrap: wrap; /* Laat knoppen zich aanpassen aan de beschikbare ruimte */
    gap: 10px; /* Ruimte tussen de knoppen */
    justify-content: flex-start; /* Knoppen uitlijnen naar links */
  }
  
  mat-form-field {
    width: 100%; /* Zorg ervoor dat alle invoervelden de volledige breedte hebben */
  }
  @media (max-width: 600px) {
    .button-group {
      flex-direction: column; /* Plaats knoppen onder elkaar */
      align-items: stretch; /* Zorg ervoor dat de knoppen de volledige breedte gebruiken */
    }
  
    .button-group button {
      width: 100%; /* Laat de knoppen de volledige breedte gebruiken */
    }

    
  }