.profile-container {
  display: flex;
  flex-direction: column;


  height: 100vh; /* Zorg ervoor dat het volledige scherm wordt benut */
}

.password-card {
  width: 100%;
  max-width: 400px; /* Beperk de breedte van de kaart */
  margin: 20px auto;
}

.password-form {
  display: flex;
  flex-direction: column; /* Zorg ervoor dat de velden onder elkaar staan */
  gap: 16px; /* Ruimte tussen de velden */
}

.full-width {
  width: 100%; /* Velden nemen de volledige breedte van de container */
}

.button-container {
  text-align: center; /* Knop gecentreerd onder de velden */
  margin-top: 16px;
}

.loading-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 18px;
}
