<div *ngIf="personData" class="profile-container">
  <!-- Bestaande profielkaart -->
  <mat-card>
    <mat-card-header>
      <mat-card-title>{{ personData.firstName }} {{ personData.lastName }}</mat-card-title>
      <mat-card-subtitle><strong>Rol:</strong> {{ personData.role?.name }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <!-- Profielgegevens -->
      <p><strong>Email:</strong> {{ personData.emailAdress }}</p>
      <p><strong>Telefoonnummer:</strong> {{ personData.phoneNumber }}</p>
      <p><strong>Rang:</strong> {{ personData.grade?.name }}</p>
      <p><strong>Specialiteit:</strong> {{ personData.speciality?.name }}</p>
      <p><strong>Team:</strong> {{ personData.team?.name }}</p>
      <button mat-flat-button color="accent" type="button" (click)="resetPassword()">
        Reset wachtwoord
      </button>
    </mat-card-content>
  </mat-card>
 
</div>

<div *ngIf="!personData" class="loading-container">
  <p>Gegevens worden geladen...</p>
</div>
