<div class="calendar-controls">
  <button mat-button (click)="navigateMonth(-1)">&#9664;</button>
  <span>{{ getCurrentPeriod() }}</span>
  <button mat-button (click)="navigateMonth(1)">&#9654;</button>
  <button mat-raised-button color="primary" (click)="saveDayOff()">Opslaan</button> 
</div>

<div class="calendar-wrapper">
  <div class="calendar-scroll">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 compact-table">
      <!-- Naam kolom -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef class="sticky-header sticky-column">Naam</th>
        <td mat-cell *matCellDef="let row" class="column-name sticky-column">
          <span class="name">{{ row.name }}</span>
          <span class="counter">
            <div class="circle" [ngClass]="getCounterClassPerson(getPersonDayOffCount(row.id), row.dayOffBase)">
              {{ getPersonDayOffCount(row.id) }}
            </div>
          </span>
        </td>
        
        
             
      </ng-container>

      <!-- Dynamische datum kolommen met tellers -->
      <ng-container *ngFor="let day of filteredWorkdays" [matColumnDef]="day">
        <th mat-header-cell *matHeaderCellDef class="sticky-header">
          <div class="header-cell">
            <!-- Teller -->
            <div class="day-off-counter" [ngClass]="getCounterClassDate(getDayOffCount(day))">
              {{ getDayOffCount(day) }}
            </div>
            <!-- Shift Type -->
            <small *ngIf="getShiftTypeForDate(day)" [ngClass]="getShiftTypeForDate(day)?.colorClass">
              {{ getShiftTypeForDate(day)?.type }}
            </small>
            <!-- Datum -->
            <span>{{ day.split('-')[2] }}/{{ day.split('-')[1] }}</span>
          </div>
        </th>
        <td mat-cell *matCellDef="let row">
          <div class="day-off-wrapper">
            <div
              class="day-off-circle"
              [ngClass]="{
                'day-off': row[day] === 'V',
                'no-day-off': row[day] === ''
              }"
              (click)="toggleDayOff(row.id, day)"
              [class.disabled]="isUser"
            ></div>
          </div>
        </td>
      </ng-container>

      <!-- Header en rijen -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
<p *ngIf="!dataSource">Data wordt geladen...</p>
